{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
{% endblock %}

<header class="header-block sticky-top">
    <div class="header">
        <div class="logo-block">
          
            {% comment %} <img src="{% static 'assets/logo.jpeg' %}" alt="Logo" class="logo">  {% endcomment %}
            <h1>MediVerse</h1>
        </div>
        <nav class="nav-wrapper">
            <div class="items">
                <a href="{% url 'index' %}" class="item">Home</a>
                <a href="{% url 'index' %}#features" class="item">Our Services</a>
                <a href="{% url 'about' %}" class="item">About Us</a>
            </div>
        </nav>
        <div class="cta-container">
            <a href="{% url 'login' %}" class="cta-button">Login</a>
            <a href="{% url 'register' %}" class="cta-button">Register</a>
            <a href="{% url 'profile' %}" class="cta-button">Profile</a>
        </div>
    </div>
</header>
