{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
{% endblock %} 

{% block content %}

<div style="background-image: url('{% static 'assets/Green Illustrative Medical Healthcare Virtual Zoom Background.png' %}'); background-size: cover; background-repeat: no-repeat; background-position: center center; min-height: 100vh; margin-top:0px;">


<div class="one">
    <form method="POST" action="{% url 'register' %}" style="height: 400px; width: 400px;margin-left: 22%;margin-top: 100px; position: absolute;">
        {% csrf_token %}
        <h2 class="px-4 pb-4">Sign-up</h2>

        <p class="ps-4 pt-2" style="font-weight: bold;">First Name</p>
        <input class="ps-2 ms-4 rounded" style="width: 350px;" type="text" name="first_name" placeholder="First name" required>

        <p class="ps-4 pt-2" style="font-weight: bold;">Last Name</p>
        <input class="ps-2 ms-4 rounded" style="width: 350px;" type="text" name="last_name" placeholder="Last name" required>

        <p class="ps-4 pt-2" style="font-weight: bold;">Username</p>
        <input class="ps-2 ms-4 rounded" style="width: 350px;" type="text" name="username" placeholder="Username" required>

        <p class="ps-4 pt-2" style="font-weight: bold;">E-mail</p>
        <input class="ps-2 ms-4 rounded" style="width: 350px;" type="email" name="email" placeholder="Email" required>

        <p class="ps-4 pt-2" style="font-weight: bold;">Password</p>
        <input class="ps-2 ms-4 rounded" style="width: 350px;" type="password" name="password" placeholder="Password" required>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <button class="mx-4 my-3" style="width: 350px; background-color:#22B8A2; border-radius: 25px;" type="submit">
            Sign Up
        </button>

    </form>

    <div class="two">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static '/assets/doctor-patient.png' %}" class="d-block w-100" style="margin-top: 200px; margin-left: 10px;">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static '/assets/surgeon.png' %}" class="d-block w-100" style="margin-top: 200px;padding-right: 12px; padding-left: 10px;">
                </div>
                <div class="carousel-item">
                    <img src="{% static '/assets/medical-team.png' %}" class="d-block w-100" style="margin-top: 200px; width:200px; padding-right: 10px;padding-left: 10px;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
